body {
  font-family: sans-serif;
}
h1 {
  font-size: 195%;
  font-family: sans-serif;
  font-weight: normal;
  color: #254565;
  background-color: lightgray;
}

code {
    background-color: #e8e8e8;
}

span.spadfun {
    color: red;
}

a:link {
  color: #355f7c;
  text-decoration: none;
  font-family: sans-serif;
}

a:visited {
  color: #355f7c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}